
:root {
    --background-color: #E8E8E8;
    --success-color: #43a047;
    --medium-color: #e4a81d;
    --gray-color: #757575;
    --hover-color: #C7C8CC;
    --foco-color: #6c757d;
    --border-color: #adb5bd;
}

/* Page */

html {
    background-color: var(--background-color);
    font-size: 14px;
    user-select: none;
    zoom: 110%;
}

body {
    background-color: var(--background-color);
}

html, body, form, main, .div-contenedor {
    height: 100%;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    display: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Navbar */

#navBar {
    background-color: var(--hover-color);
    border-radius: 0 0 5px 5px;
}

.menu, .nav-info {
    color: var(--gray-color);
}

.menu:hover, .nav-info:hover {
    color:black;
}

.titulo {
    font-size: 1.5rem;
    line-height: 1.5;
}

.modo {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

/* Sidebar */

#sidebar {
    background-color: var(--background-color);
    border-radius: 0px 5px 5px 0;
}

#sidebar a {
    text-decoration: none;
    color: black;
    padding: 0.5em 1em 0.5em 0.5em;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2;
    letter-spacing:1px;
}

#sidebar a:hover {
    background-color: var(--hover-color);
}

.offcanvas-start {
    border-right:none;
}

/* Wordle */

.div-wordle {
    gap: .4rem !important;
}

.div-wordle .fila {
    height: 54px;
    gap: .4rem !important;
}

.fila {
    display: flex;
    height: 60px;
    position: relative;
}

.input {
    height: 50px;
    max-width: 50px;
    font-size: 1.8rem !important;
    border-radius:.4rem;
}

.div-disable {
    pointer-events: none;
}

.foco {
    border-color: var(--foco-color) !important;
}

.fila div .form-control-custom:focus {
    outline: none;
    box-shadow: none;
}

.fila div .form-control-custom {
    border-width: 1px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.form-control-custom {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    caret-color: transparent;
    cursor: pointer;
}

/* Keyboard */

.div-keyboard {
    max-width: 600px;
    margin: 0 3px 6px 3px;
    padding: 0 6px 0px 6px;
}

.div-keyboard button {
    border: none;
    font-weight: 400;
    font-size: large;
    border-radius: 5px !important;
}

.div-keyboard button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.div-keyboard div div button:focus {
    box-shadow: none;
    border-color: var(--hover-color);
}

.tildes {
    height: 50px;
    font-size: 13px;
}

.letras {
    height: 55px;
}

.enter {
    padding: .4em;
}

.delete {
    padding: .2em !important;
}

.div-pista button img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

/* Messages */

.div-messages {
    max-width: 600px;
    min-height: 50px;
    width: 98%;
}

#message {
    text-align: center;
    margin: 0 4px 0 4px;
}

/* Custom class */

.input-success {
    background-color: var(--success-color) !important;
    color: #fff !important;
    border-color: var(--success-color) !important;
}

.input-medium {
    background-color: var(--medium-color);
    color: #fff;
    border-color: var(--medium-color);
}

.input-gray {
    background-color: var(--gray-color);
    color: #fff;
    border-color: var(--gray-color);
}

.button-success {
    background-color: var(--success-color) !important;
    color: #fff !important;
    border-color: var(--success-color) !important;
}

.button-success:hover {
    background-color: var(--success-color) !important;
}

.button-success:active {
    color: #fff;
}

.button-medium {
    background-color: var(--medium-color) !important;
    color: #fff !important;
    border-color: var(--medium-color) !important;
}

.button-medium:hover {
    background-color: var(--medium-color) !important;
}

.button-medium:active {
    color: #fff;
}

.button-gray {
    background-color: var(--gray-color) !important;
    color: #fff !important;
    border-color: var(--gray-color) !important;
}

.button-gray:hover {
    background-color: var(--gray-color) !important;
}

.button-gray:active {
    color: #fff;
}

.alert-custom {
    color: #FFFFFF;
    background-color: var(--gray-color);
    border-color: #999999;
}

.icon-success {
    color: var(--success-color);
}

.icon-medium {
    color: var(--medium-color)
}

.icon-gray {
    color: var(--gray-color)
}

/* Modal */

.modal-fullscreen {
    width: 100%;
}

.modal-backdrop, .offcanvas-backdrop {
    width: 100%;
    height: 100%;
}

.modal-fullscreen .modal-body {
    overflow-y: unset;
}

.modal-content {
    background-color: var(--background-color);
}

.modal-body {
    background-color: var(--background-color);
}

.div-btn-close button {
    color: var(--gray-color);
}

.div-btn-close button:hover {
    color:black;
}

.div-modo i {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
}

.info-small {
    font-size: small;
    padding-bottom: 5px;
}

.span-def {
    font-size: 22px;
}

.div-word {
    font-weight: 500;
}

.div-box {
    background-color: white;
    padding: 2%;
    border-radius: 5px;
}

.div-word span {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 40px;
    text-wrap: auto;
    font-weight: 700;
    padding-right: 5px;
}

.div-sin-ant div span {
    font-size: 12px;
    color: black;
    font-weight: 500;
}

.div-sin-ant div span small {
    font-weight: initial;
    letter-spacing: 1px;
}

.div-use span {
    font-size: 18px;
    color: black;
}

.div-use span small {
    font-weight: initial;
}

#countdown {
    font-size: 10px;
    letter-spacing: 1px;
}

.btn-modo {
    background-color: var(--foco-color);
    color: white;
}

.btn-modo:hover, .btn-modo:focus {
    background-color: var(--border-color) !important;
    color: black !important;
    box-shadow: none;
    border-color: var(--border-color);
}

.div-content-modal {
    padding: 2%;
    max-width: 600px;
    letter-spacing: 1px;
}

.btn-close-modal {
    padding: 0px 4px 0px 4px;
    border-radius: 20%;
}

.btn-close-modal:focus {
    outline: none !important;
    box-shadow: none !important;
}

.div-modal-modos button {
    border: none;
    text-wrap: nowrap;
}

.div-modal-modos button:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--foco-color);
    color: white;
}

.div-modal-modos button {
    font-size: 1rem;
}

sup {
    color: white;
    letter-spacing: 0px;
    border-radius: 8px;
    padding: 3px 7px;
    background-color: var(--foco-color);
    font-size: 16px;
    font-weight: 100;
}

/* Iconos */

.icon-size {
    height:20px;
    width:20px;
}

/* Modal de instrucciones */

.div-game div p {
    font-size: medium;
}

.div-example {
    padding-bottom: 5px;
    column-gap: 20px;
}

.div-example h2 {
    font-size: 18px;
    font-weight: 500;
}

.word-example div {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    font-weight: 600;
}

.ul-references {
    list-style-type: none;
    font-size: 15px;
}

.ul-references li {
    column-gap: 5px;
}

.title-pista {
    font-size: 18px;
    font-weight: 500;
}

.div-pista p {
    font-size: 15px;
    padding: 5px 0 5px 0;
}

.title-claves {
    font-size: 18px;
    font-weight: 500;
}

.ul-claves {
    list-style-type: none;
    font-size: 15px;
    padding: 5px 0 5px 0;
}

.div-claves {
    background-color: white;
    border-radius: 10px;
    padding: 2em;
}

/* Otros estilos */

.div-content-modal p, h1, h2 {
    margin: 0;
}

.fa-lg {
    font-size: 1.5em !important;
}

.fa-xs {
    font-size: .50em;
}

.fa-custom {
    font-size: 1.5em !important;
}

/* Vista de error */

.div-exception-errors {
    letter-spacing: 1px;
    max-width:600px;
}

.div-exception-errors h1 {
    font-size: 2em;
}

.div-exception-errors h2 {
    font-size: 1.5em;
}

.div-exception-errors h3 {
    font-size: 1em;
}

#stackTrace pre {
    font-size: smaller;
}

.div-report span, .div-report span a {
    font-weight: 500;
}

/* Vista contacto */

.contact-link {
    display: flex;
    width: 100%;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-size: 16px;
    border-radius: 10px;
}

.icon-style {
    font-size: 1.5em;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ul-contact a:hover {
    background-color: white;
    border-color: white;
    border-radius:10px;
    color:black;
}

@media (max-width: 600px), (max-height: 600px) {

    .div-sin-ant {
        flex-direction: column !important;
    }

    html {
        zoom: 90%;
    }

}

@media (max-width: 400px) {

    .div-details {
        justify-content: flex-start !important;
        gap: 1rem !important;
    }

}

/* Resolución menor a 300px */

@media (max-width: 300px) {

    .titulo {
        font-size: 16px;
    }

    .modo {
        font-size: 10px;
    }

    .button.form-control.form-control-lg {
        font-size: 12px !important;
    }

    .delete i {
        font-size: 1em !important;
    }

    .fa-circle-check {
        font-size: .8em !important;
    }

    .enter {
        padding: 0.1em !important;
    }

    .div-messages {
        top: 7.5rem !important;
        font-size: smaller;
    }

    /* Estilos dentro del modal */

    .word-es {
        font-size:30px !important;
    }

    .sup-es {
        font-size: 14px !important;
    }

    .word-en {
        font-size: 16px !important;
    }

    .sup-en {
        font-size: 12px !important;
    }

    .span-def {
        font-size:18px !important;
    }

    .div-use span {
        font-size: 16px !important;
    }

    .div-modal-modos {
        flex-direction: column;
    }

    .div-modal-modos button {
        font-size: 1rem !important;
    }
}

@media (min-width: 320px) {

    .d-sm-none {
        display: none !important;
    }

    .d-sm-inline {
        display: inline !important;
    }
}

/* Animaciones */

.animated-move {
    animation: moveLeftAndRight 0.4s forwards;
}

@keyframes moveLeftAndRight {

    0% {
        left: 0;
    }

    10% {
        left: -10px;
    }

    20% {
        left: 10px;
    }

    30% {
        left: -5px;
    }

    40% {
        left: 5px;
    }

    50% {
        left: -2px;
    }

    60% {
        left: 2px;
    }

    70%, 100% {
        left: 0;
    }

}

.animated-flip {
    transition: transform 1s ease;
}

.animated-flip.rotated {
    transform: rotateY(180deg);
}

.rotated input {
    transform: rotateY(-180deg);
}
