
html {
    background-color: #EBE3D5;
    font-size: 14px;
    height: 100%;
    user-select: none;
}

nav {
    background-color: #F3EEEA;
}

header {
    position: fixed;
    width: 100%;
}

body {
    background-color: #EBE3D5;
    display: flex;
    flex-direction: column;
    height: 100%;
}

form, main {
    height: 100%;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

#sidebar {
    background-color: #F3EEEA;
}

#sidebar a {
    text-decoration: none;
    color: black;
    padding: 0.5em 1em 0.5em 0.5em;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2;
    font-family: monospace;
}

#sidebar a:hover {
    background-color: #B0A695;
}

.div-separator {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

@media (max-width: 280px) {

    #navBar {
        gap: 1rem;
    }

    button.form-control.form-control-lg {
        font-size: 14px !important;
    }

    .delete i {
        font-size: 1em !important;
    }

    .fa-circle-check {
        font-size: .8em !important;
    }

    .enter {
        padding:0.1em !important;
    }

    .titulo {
        font-size: 16px !important;
    }

    .order-title {
        order: 2;
        width: 100%;
        text-align: center;
    }

    .div-messages {
        top: 7.5rem !important;
        font-size: smaller;
    }

}

@media (min-width: 280px) {

    .d-sm-none {
        display: none !important;
    }

    .d-sm-inline {
        display: inline !important;
    }

}

.delete {
    padding: .2em !important;
}

#navBar a {
    font-weight: 400;
    padding: .5rem;
}

.menu {
    color:black;
}

.menu:hover {
    background-color: #B0A695;
    border-radius: 10%;
    color: black;
}

.mode:hover {
    background-color: #B0A695;
    border-radius: 50%;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-brand {
    margin: 0;
}

.titulo {
    color: black !important;
    text-decoration: none;
    font-weight: bold !important;
    font-size: 1.5rem;
    line-height: 2 !important;
    font-family: monospace !important;
    margin: auto;
}

.fila {
    display: flex;
    height: 50px;
    gap: 4px;
}

.divKeyboard .fila {
    gap: 6px;
}

.fila div {
    flex: 1;
}

.fila div .form-control:focus {
    outline: none;
    box-shadow: none;
}

.fila div .form-control {
    border-width: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.form-control {
    caret-color: transparent;
    cursor: pointer;
}

.form-control-lg {
    border-radius: .2rem;
}

.tildes {
    height: 50px;
    padding: 0;
    font-size: 13px;
}

.letras {
    height: 50px;
    padding: 0;
    font-size: 13px;
}

.enter {
    padding: .4em;
}

.divConteiener {
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.divWordle {
    margin: 5.5em 0 4em 0;
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 500px;
    margin-left: 3px;
    margin-right: 3px;
}

.divKeyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 500px;
    padding: 3px;
}

.divNavBar-padding {
    padding: .4rem;
}

.footer-conteiner {
    display: flex;
    justify-content: center;
}

.divKeyboard button {
    border: none;
}

.divKeyboard button:hover {
    background-color: #B0A695;
    border-color: #B0A695;
}

.divKeyboard .fila button:focus {
    border-color: #B0A695;
}

.input {
    height: 50px;
    max-width: 50px;
    padding: 0;
    font-size: 1.5rem !important;
}

.div-disable {
    pointer-events:none;
}

.div-messages {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 6rem;
}

#message {
    display: none;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}

.alert {
    margin-bottom: 0;
}

.input-success {
    background-color: #43a047;
    color: #fff;
    border-color: #43a047;
}

.input-medium {
    background-color: #e4a81d;
    color: #fff;
    border-color: #e4a81d;
}

.input-grey {
    background-color: #757575;
    color: #fff;
    border-color: #757575;
}

.button-success {
    background-color: #43a047;
    color: #fff;
    border-color: #43a047;
}

.button-success:hover {
    background-color: #43a047 !important;
}

.button-success:active {
    color: #fff;
}

.button-medium {
    background-color: #e4a81d;
    color: #fff;
    border-color: #e4a81d;
}

.button-medium:hover {
    background-color: #e4a81d !important;
}

.button-medium:active {
    color: #fff;
}

.button-grey {
    background-color: #757575;
    color: #fff;
    border-color: #757575;
}

.button-grey:hover {
    background-color: #757575 !important;
}

.button-grey:active {
    color: #fff;
}

.alert-custom {
    color: black;
    background-color: #B0A695;
    border-color: #776B5D;
    font-weight: 600;
}

.modal-center {
    display: flex !important;
    justify-content: center;
}

.modal-size {
    max-width: 500px;
}

.foco {
    border-color: #776B5D !important;
}
