
:root {
    --background-color: #E8E8E8;
    --success-color: #43a047;
    --medium-color: #e4a81d;
    --gray-color: #757575;
    --hover-color: #C7C8CC;
    --foco-color: #6c757d;
    --border-color: #adb5bd;
}

/* Page */

html {
    background-color: var(--background-color);
    font-size: 14px;
    user-select: none;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}

html, body, form, main {
    height: 100%;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    display: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Navbar */

#navBar {
    background-color: var(--hover-color);
    width: 100%;
}

.menu {
    color: var(--gray-color);
    padding:5px;
}

.menu:hover {
    color:black;
}

.titulo {
    font-size: 1.5rem;
    line-height: 1.5;
}

.modo {
    font-size: 0.8rem;
    letter-spacing: 1px;
}

/* Sidebar */

#sidebar {
    background-color: var(--background-color);
}

#sidebar a {
    text-decoration: none;
    color: black;
    padding: 0.5em 1em 0.5em 0.5em;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2;
}

#sidebar a:hover {
    background-color: var(--hover-color);
}

.div-separator {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

/* Conteiner */

.divConteiener {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Wordle */

.divWordle {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 500px;
    margin-left: 5%;
    margin-right: 5%;
    flex: 1;
    justify-content: center;
}

.divWordle .fila {
    height: 58px;
    gap: 4px;
}

.fila {
    display: flex;
    height: 60px;
    gap: 4px;
    position: relative;
}

.input {
    height: 58px;
    max-width: 58px;
    padding: 0;
    font-size: 1.8rem !important;
}

.div-disable {
    pointer-events: none;
}

.foco {
    border-color: var(--foco-color) !important;
}

.fila div {
    flex: 1;
}

.fila div .form-control:focus {
    outline: none;
    box-shadow: none;
}

.fila div .form-control {
    border-width: 1px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.form-control {
    caret-color: transparent;
    cursor: pointer;
}

.form-control-lg {
    border-radius: .2rem;
}

/* Keyboard */

.divKeyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 600px;
    margin: 0 3px 6px 3px;
    padding: 0 6px 0px 6px;
}

.divKeyboard button {
    border: none;
}

.divKeyboard button:hover {
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

.divKeyboard .fila button:focus {
    border-color: var(--hover-color);
}

.divKeyboard .fila button {
    font-size: 1.5rem;
    font-weight: 400;
}

.divKeyboard .fila {
    gap: 6px;
}

.tildes {
    height: 50px;
    padding: 0;
    font-size: 13px;
}

.letras {
    height: 60px;
    padding: 0;
    font-size: 13px;
}

.enter {
    padding: .4em;
}

.delete {
    padding: .2em !important;
}

.pista {
    
}

/* Messages */
.div-messages {
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 1rem;
    z-index: 1;
}

#message {
    display: none;
    text-align: center;
    margin-left: 4px;
    margin-right: 4px;
}

.alert {
    margin-bottom: 0;
}

/* Custom class */

.input-success {
    background-color: var(--success-color) !important;
    color: #fff !important;
    border-color: var(--success-color) !important;
}

.input-medium {
    background-color: var(--medium-color);
    color: #fff;
    border-color: var(--medium-color);
}

.input-gray {
    background-color: var(--gray-color);
    color: #fff;
    border-color: var(--gray-color);
}

.button-success {
    background-color: var(--success-color) !important;
    color: #fff !important;
    border-color: var(--success-color) !important;
}

.button-success:hover {
    background-color: var(--success-color) !important;
}

.button-success:active {
    color: #fff;
}

.button-medium {
    background-color: var(--medium-color) !important;
    color: #fff !important;
    border-color: var(--medium-color) !important;
}

.button-medium:hover {
    background-color: var(--medium-color) !important;
}

.button-medium:active {
    color: #fff;
}

.button-gray {
    background-color: var(--gray-color) !important;
    color: #fff !important;
    border-color: var(--gray-color) !important;
}

.button-gray:hover {
    background-color: var(--gray-color) !important;
}

.button-gray:active {
    color: #fff;
}

.alert-custom {
    color: #FFFFFF;
    background-color: var(--gray-color);
    border-color: #999999;
}

.icon-success {
    color: var(--success-color);
}

.icon-medium {
    color: var(--medium-color)
}

.icon-gray {
    color: var(--gray-color)
}

/* Modal */

.modal-fullscreen .modal-body {
    overflow-y: unset;
}

.modal-content {
    background-color: var(--background-color);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: var(--background-color);
}

.div-btn-close {
    display: flex !important;
    justify-content: end;
    margin-bottom: 2em;
}

.div-btn-close button {
    color: var(--gray-color);
}

.div-btn-close button:hover {
    color:black;
}

.div-modo {
    display: flex;
    justify-content: right;
}

.div-modo i {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
}

.info-small {
    font-size: x-small;
    padding-bottom: 10px;
}

.div-result {
    display: flex;
}

.div-result span {
    font-size:14px;
    color: black;
}

.div-word-def {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #C7C8CC;
    border-top: 1px solid #C7C8CC;
    padding: 20px 0px;
}

.div-content-word-def {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.span-def {
    font-size: 20px;
}

.div-word {
    display: flex;
    font-weight: 500;
}

.div-box {
    background-color: white;
    padding: 2%;
    border-radius: 5px;
}

.div-word span {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 40px;
    text-wrap: auto;
}

.div-sin-ant {
    display: flex;
    gap: 1em;
    padding-bottom: 10px;
    border-bottom: 1px solid #C7C8CC;
}

.div-sin-ant div span {
    font-size: 14px;
    color: black;
}

.div-sin-ant div span small {
    font-weight: initial;
    letter-spacing: 1px;
}

.div-use {
    padding-bottom: 10px;
    border-bottom: 1px solid #C7C8CC;
}

.div-use span {
    font-size: 16px;
    color: black;
}

.div-use span small {
    font-weight: initial;
}

#countdown {
    display: flex;
    font-size: 10px;
    letter-spacing: 1px;
    flex-direction: column;
    align-items: center;
}

.div-buttons {
    display: flex;
    gap: .5rem;
    padding-top: 1em;
    letter-spacing: 1px;
}

.btn-modo {
    background-color: var(--foco-color);
    color: white;
}

.btn-modo:hover, .btn-modo:focus {
    background-color: var(--border-color) !important;
    color: black !important;
    box-shadow: none;
    border-color: var(--border-color);
}

.div-content-modal {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    width: 100%;
    max-width: 600px;
    padding: 2%;
    gap: 1em;
    letter-spacing: 1px;
}

.btn-close-modal {
    padding: 0px 4px 0px 4px;
    border-radius: 20%;
}

.btn-close-modal:focus {
    outline: none !important;
    box-shadow: none !important;
}

.div-modal-modos button {
    border: none;
    text-wrap: nowrap;
}

.div-modal-modos button:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--foco-color);
    color: white;
}

.div-modal-modos button {
    font-size: 1.2rem;
    font-weight: 500;
}

sup {
    letter-spacing: 2px;
    background-color: ghostwhite;
    padding: 2px;
}

/* Resolución menor a 576px */

@media (max-width: 576px) {

    .titulo {
        font-size:16px;
    }

    .modo {
        font-size: 10px;
    }

    .button.form-control.form-control-lg {
        font-size: 12px !important;
    }

    .delete i {
        font-size: 1em !important;
    }

    .fa-circle-check {
        font-size: .8em !important;
    }

    .enter {
        padding: 0.1em !important;
    }

    .div-messages {
        top: 7.5rem !important;
        font-size: smaller;
    }

    /* Estilos dentro del modal */

    .div-modal-modos {
        flex-direction: column;
    }

    .div-modo i {
        font-size:12px;
    }

    .div-word {
        flex-direction: column;
        gap: 1em;
    }

    .div-word span {
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .div-def {
        text-align: center;
    }

    .span-def span {
        font-size: 16px;
    }

    .div-sin-ant div span, .div-use span {
        font-size: 14px;
    }

    /* Estilos para modal de instrucciones */

    .title-game, .title-pista, .title-claves {
        text-align:center;
    }

    .div-example {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

}

@media (min-width: 320px) {

    .d-sm-none {
        display: none !important;
    }

    .d-sm-inline {
        display: inline !important;
    }
}

/* Animaciones */

.animated-move {
    animation: moveLeftAndRight 0.4s forwards;
}

@keyframes moveLeftAndRight {

    0% {
        left: 0;
    }

    10% {
        left: -10px;
    }

    20% {
        left: 10px;
    }

    30% {
        left: -5px;
    }

    40% {
        left: 5px;
    }

    50% {
        left: -2px;
    }

    60% {
        left: 2px;
    }

    70%, 100% {
        left: 0;
    }

}

.animated-flip {
    transition: transform 1s ease;
}

.animated-flip.rotated {
    transform: rotateY(180deg);
}

.rotated input {
    transform: rotateY(-180deg);
}

/* Iconos */

.icon-size {
    height:20px;
    width:20px;
}

/* Modal de instrucciones */

.div-instrucciones {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.div-game div {
    border-top: 1px solid var(--border-color);
}

.div-game div p {
    font-size: medium;
    padding: 5px 0 5px 0;
}

.title-game {
    font-size: 25px;
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.div-example {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
    column-gap: 20px;
}

.div-example h2 {
    font-size: 25px;
    font-weight: bold;
    display: flex;
}

.word-example {
    display: flex;
    align-items: center;
    gap: 5px;
}

.word-example div {
    width: 20px;
    text-align: center;
    border-radius: 2px;
}

.ul-references {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: medium;
    padding: 5px 0 5px 0;
}

.ul-references li {
    display: flex;
    column-gap: 5px;
}

.title-pista {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

.div-pista p {
    font-size: medium;
    padding: 5px 0 5px 0;
}

.title-claves {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

.ul-claves {
    list-style-type: none;
    margin: 0;
    padding: 5px 0 5px 0;
    font-size: medium;
}

/* Otros estilos */

.div-content-modal p, h1, h2 {
    margin: 0;
}

.fa-xs {
    font-size: .50em;
}
