@model WordleViewModel

<script type="text/javascript">

    $(document).ready(function () {

        console.log("@Model.Wordle");

    });



</script>

<div style="display:flex; flex-direction:column; align-items:center;">

    <div style="margin: 5em 0; display: flex; flex-direction: column; gap: 3px; max-width: 500px; margin-left: 3px; margin-right: 3px;">
        @for (int i = 0; i < 5; i++)
        {
            <div class="fila" style="display: flex; height: 50px;">
                @for (int j = 0; j < Model.Wordle.Length; j++)
                {
                    <div style="flex: 1;">
                        @Html.TextBox("Nombre", null, new { @class = "form-control form-control-lg", style = "height:50px; max-width:50px; padding: 0;", autocomplete = "off", maxlength = "1", oninput = "this.value = this.value.toUpperCase()" })
                    </div>
                }
            </div>
        }
    </div>

    @await Html.PartialAsync("Keyboard")

</div>


<style type="text/css">



</style>
