@model WordleViewModel

<script type="text/javascript">

    $(document).ready(function () {

        console.log("@Model.Wordle");

    });



</script>

<div class="divConteiener">

    <div class="divWordle">
        @for (int i = 0; i < 5; i++)
        {
            <div class="fila">
                @for (int j = 0; j < Model.Wordle.Length; j++)
                {
                    <div>
                        @Html.TextBox("Nombre", null, new { @class = "form-control form-control-lg", style = "height:50px; max-width:50px; padding: 0;", autocomplete = "off", maxlength = "1", oninput = "this.value = this.value.toUpperCase()" })
                    </div>
                }
            </div>
        }
    </div>

    @await Html.PartialAsync("Keyboard")

</div>
