
<div style="width:100%; margin-top: 5em; display: flex; flex-direction: column; gap: 3px; max-width: 500px;">

    <div class="fila" style="display: flex; height: 50px; margin-left: 3px; margin-right: 3px;">
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Á</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">É</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Í</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Ó</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Ú</button>
        </div>
    </div>

    <div class="fila" style="display: flex; height: 50px; margin-left: 3px; margin-right: 3px;">
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Q</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">W</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">E</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">R</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">T</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Y</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">U</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">I</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">O</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">P</button>
        </div>
    </div>

    <div class="fila" style="display: flex; height: 50px; margin-left: 3px; margin-right: 3px;">
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">A</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">S</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">D</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">F</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">G</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">H</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Y</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">J</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">K</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">L</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; max-width:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Ñ</button>
        </div>
    </div>

    <div class="fila" style="display: flex; height: 50px; margin-left: 2px; margin-right: 2px;">
        <div style="flex: 1;">
            <button title="Intro" style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg"><i class="fa-solid fa-check"></i></button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">Z</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">X</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">C</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">V</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">B</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">N</button>
        </div>
        <div style="flex: 1;">
            <button style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg">M</button>
        </div>
        <div style="flex: 1;">
            <button title="Delete" style="height:50px; padding: 0; font-size: 13px;" class="form-control form-control-lg"><i class="fa-solid fa-arrow-left"></i></button>
        </div>
    </div>
</div>
