@using Newtonsoft.Json
@using System.Collections

<script type="text/javascript">

    $(document).ready(function () {

        $(document).on("click", '.divKeyboard button', function () {
            
            if ($("#Resultado").val() == "" || $("#Resultado").val() && $("#Resultado").val() == '@false') {
    
                if ($(this).hasClass('delete')) {
                    onDeleteClick();
                    return;
                }
                else if ($(this).hasClass('enter')) {
                    return;
                }

                inputFocus.val($(this).text());

                inputFocus.parent().next('div').find('input').focus();
            }

        });

    });

    function obtenerFila(model, intento) {
        let palabraIngresada = "";
        for (let col = 0; col < 7; col++) { // El 7 tiene que venir desde el view model, y sacar la palabra.
            let key = `${intento}_${col}`;
            palabraIngresada += model[key];
        }
        return palabraIngresada;
    }

    function enter() {
        let url = '@Html.Raw(Url.Action("Enter", "Wordle"))';
        let data = { @Model.GetType().Name: $('form').serializeObject() };
        let palabraIngresada = obtenerFila(data.WordleViewModel, data.WordleViewModel.Intentos);

        if (data.WordleViewModel.Resultado == 'true' || data.WordleViewModel.Resultado == 'false') {    // Ver otra forma de validar esto
            modalResult($("#Resultado").val());
        }
        else if (palabraIngresada.length == data.WordleViewModel.Wordle.length) {

            data.WordleViewModel.PalabraIngresada = obtenerFila(data.WordleViewModel, data.WordleViewModel.Intentos);
            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();

            // console.log(data.WordleViewModel);
            // console.log(data.WordleViewModel.PalabraIngresada);

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: 'json',
                success: function (response) {
                
                    console.log("SUCCESS");  

                    // 'Mapeo' de viewmodel
                    $("#Intentos").val(response.intentos);

                    if (response.resultado == true) {
                        $("#Resultado").val(true);

                        changeInputAndButton(undefined, undefined, "input-success", "button-success", true, palabraIngresada);

                        $(".resultado").modal('show');
                    }
                    else {
                        // Se recorre la lista de letras
                        $.each(response.letras, function (index, elemento) {
                        
                            if (elemento.color == "Verde") {
                                changeInputAndButton(index, elemento.letra, "input-success", "button-success");
                            }
                            else if (elemento.color == "Amarillo") {
                                changeInputAndButton(index, elemento.letra, "input-medium", "button-medium");
                            }
                            else {
                                changeInputAndButton(index, elemento.letra, "input-grey", "button-grey");
                            }

                        });

                        filaFocus.next("div").removeClass('div-disable'); // Se saca la class en el div siguiente
                        filaFocus.addClass('div-disable');  // Se agrega la class en el div donde se ingresó la palabra
                        filaFocus = filaFocus.next("div");  // Se cambia la fila que tiene el foco
                        filaFocus.find("input").first().focus();  // Se da el foco al input de la fila siguiente

                        if(response.resultado == false) {
                            $("#Resultado").val(false);

                            filaFocus.addClass('div-disable');
                            inputFocus.removeClass("foco");
                            inputFocus.blur();

                            modalResult(false);
                            
                            $(".resultado").modal('show');
                        }

                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error('Error al realizar la solicitud AJAX:', errorThrown);
                }
            });

        }
        else {
            ShowMessage("Debe ingresar todas las letras", "custom");
        }
    }

    // Se cambia el aspecto de los inputs y buttons
    function changeInputAndButton(posicion, letra, classInput, classButton, result, palabraIngresada) {

        if (result == true) {
            filaFocus.find('input').addClass(classInput);
            addAnimation(filaFocus.find('input').parent());

            var letras = palabraIngresada.split('');

            for (var i = 0; i < letras.length; i++) {
                let button = $(".divKeyboard").find("button:contains('" + letras[i] + "')").first();
                button.removeClass("button-medium");
                button.addClass(classButton);
            }

            filaFocus.addClass('div-disable');
            inputFocus.blur();

            filaFocus.find('input.foco').removeClass("foco"); // buscar en el div no en la filafocus
            modalResult(true);
        }
        else {
            filaFocus.find('input').eq(posicion).addClass(classInput);
            addAnimation(filaFocus.find('input').parent());

            let button = $(".divKeyboard").find("button:contains('" + letra + "')").first();
         
            if (!button.hasClass("button-success")) {
                button.removeClass("button-medium");
                button.addClass(classButton);
            }

            if (result == false) {
                filaFocus.find('input.foco').removeClass("foco"); // buscar en el div no en la filafocus
                modalResult(false);
            }

        }
    }

    function addAnimation(divParent) {
        divParent.addClass("animated-flip");
        divParent.toggleClass('rotated');
    }

    function modalResult(result) {

        $.ajax({
            url: '@Url.Action("Result", "Wordle")',
            method: 'POST',
            data: { result: result },
            dataType: 'json',
            success: function (data) {

                let modal = $('#resultModal');

                var modalTitle = modal.find('.modal-title');
                var modalBodyInput = modal.find('.modal-body input');

                if (data.result == true) {
                    modalTitle.text("Ganaste")
                    modal.addClass("Win");
                }
                else {
                    modalTitle.text("Perdiste");
                    modal.addClass("Lost");
                }
                
                modal.find('.modal-body #spanPalabra').text(data.palabra);
                modal.find('.modal-body #spanSignificado').text(data.significado);
                modal.find('.modal-body #spanOtraInfo').text(data.info);

                modal.modal('show');
                modal.addClass("modal-center");
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error al realizar la solicitud AJAX:', errorThrown);
            }
        });

    }

</script>

<div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-size">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="resultModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="mb-3">
                    <span id="spanPalabra"></span>
                </div>

                <div class="mb-3">
                    <span id="spanSignificado"></span>
                </div>

                <div class="mb-3">
                    <span id="spanOtraInfo"></span>
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="divKeyboard">

    @if (Model.Tildes)
    {
        <div class="fila">
            <div>
                <button type="button" class="form-control form-control-lg tildes">Á</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">É</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">Í</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">Ó</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">Ú</button>
            </div>
        </div>
    }

    <div class="fila">
        <div>
            <button type="button" class="form-control form-control-lg letras">Q</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">W</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">E</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">R</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">T</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Y</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">U</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">I</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">O</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">P</button>
        </div>
    </div>

    <div class="fila">
        <div>
            <button type="button" class="form-control form-control-lg letras">A</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">S</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">D</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">F</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">G</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">H</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Y</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">J</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">K</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">L</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Ñ</button>
        </div>
    </div>

    <div class="fila" style="margin-top: 1px;">
        <div>
            <button type="button" title="Intro" onclick="enter()" class="form-control form-control-lg letras enter">
                <span class="d-none d-sm-inline">Enviar</span>
                <span class="d-inline d-sm-none"><i class="fa-solid fa-circle-check"></i></span>
            </button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Z</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">X</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">C</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">V</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">B</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">N</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">M</button>
        </div>
        <div>
            <button type="button" title="Delete" class="form-control form-control-lg letras delete"><i class="fa-solid fa-delete-left fa-lg"></i></button>
        </div>
    </div>

</div>
