@using Newtonsoft.Json
@using System.Collections

<script type="text/javascript">

    $(document).ready(function () {

        $(document).on("click", '.divKeyboard button', function () {
            
            if ($("#Resultado").val() == "" || $("#Resultado").val() && $("#Resultado").val() == '@false') {
    
                if ($(this).hasClass('delete')) {
                    onDeleteClick();
                    return;
                }
                else if ($(this).hasClass('enter')) {
                    return;
                }
                else if ($(this).hasClass('pista')) {
                    return;
                }

                inputFocus.val($(this).text());

                inputFocus.parent().next('div').find('input').focus();
            }

        });

    });

    function obtenerFila(model, intento) {
        let palabraIngresada = "";
        for (let col = 0; col < @Model.Length; col++) {
            let key = `${intento}_${col}`;
            palabraIngresada += model[key];
        }
        return palabraIngresada;
    }

    function enter() {
        showLoader();

        let url = '@Html.Raw(Url.Action("Enter", "Wordle"))';
        data = { @Model.GetType().Name: $('form').serializeObject() };
        let palabraIngresada = obtenerFila(data.WordleViewModel, data.WordleViewModel.Intentos);

        if (data.WordleViewModel.Resultado == 'true' || data.WordleViewModel.Resultado == 'false') {    // Ver otra forma de validar esto
            modalResult($("#Resultado").val(), $("#Intentos").val());
        }
        else if (palabraIngresada.length == data.WordleViewModel.Length) {   // Esta validacion hacerla tambien en el back

            data.WordleViewModel.PalabraIngresada = obtenerFila(data.WordleViewModel, data.WordleViewModel.Intentos);
            data.__RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                dataType: 'json',
                success: function (response) {
                
                    if (response.error) {
                        ShowMessage(response.message, "custom");
                    }
                    else {
                        console.log("SUCCESS");
                        // console.log(response);

                        // 'Mapeo' de viewmodel
                        $("#Intentos").val(response.intentos);
                        $("#ModoId").val(response.modoId);
                        $("#JuegoDictionaryJson").val(response.juegoDictionaryJson);
                        $("#Pista").val(response.pista);

                        if (response.resultado == true) {
                            $("#Resultado").val(true);
                            changeInputAndButton(undefined, undefined, "input-success", "button-success", true, palabraIngresada);
                        }
                        else {
                            // Se recorre la lista de letras
                            $.each(response.juego[1][response.intentos - 1].letters, function (index, elemento) {
                                if (elemento.color == "Verde")
                                    changeInputAndButton(index, elemento.letra, "input-success", "button-success");
                                else if (elemento.color == "Amarillo")
                                    changeInputAndButton(index, elemento.letra, "input-medium", "button-medium");
                                else
                                    changeInputAndButton(index, elemento.letra, "input-grey", "button-grey");
                            });

                            filaFocus.next("div").removeClass('div-disable'); // Se saca la class en el div siguiente
                            filaFocus.addClass('div-disable');  // Se agrega la class en el div donde se ingresó la palabra
                            filaFocus = filaFocus.next("div");  // Se cambia la fila que tiene el foco
                            filaFocus.find("input").first().focus();  // Se da el foco al input de la fila siguiente

                            // Código para la pista
                            if (response.juego[1][response.intentos - 1].pista == true) {
                                let divM = $(".fila div button:contains('M')").parent();

                                divM.after(`
                                    <div>
                                        <button type='button' onclick="showPista('${response.juego[1][response.intentos - 1].pistaDescripcion}')" class='form-control form-control-lg letras pista' style='padding: 0;'>
                                            <img src='/Icons/solution.png' alt='Pista' style='width: 100%; height: 100%; object-fit: contain;'>
                                        </button>
                                    </div>
                                `);
                            }

                            if (response.resultado == false) {
                                $("#Resultado").val(false);

                                filaFocus.addClass('div-disable');
                                inputFocus.removeClass("foco");
                                inputFocus.blur();
                                inputFocus = null;

                                setTimeout(function () {
                                    modalResult(false, $("#Intentos").val());
                                }, 1000);
                            }
                        }

                    }

                    hideLoader();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    hideLoader();
                    console.error('Error al realizar la solicitud AJAX:', errorThrown);
                }
            });

        }
        else {
            hideLoader();
            ShowMessage("Debe ingresar todas las letras", "custom");
        }
    }

    function showPista(pistaDescripcion) {
        ShowMessage(pistaDescripcion, "secondary", false);
        $(".pista").parent().remove();
    }

    // Se cambia el aspecto de los inputs y buttons
    function changeInputAndButton(posicion, letra, classInput, classButton, result, palabraIngresada) {

        if (result == true) {
            filaFocus.find('input').addClass(classInput);
            addAnimation(filaFocus.find('input').parent());

            var letras = palabraIngresada.split('');

            for (var i = 0; i < letras.length; i++) {
                let button = $(".divKeyboard").find("button:contains('" + letras[i] + "')").first();
                button.removeClass("button-medium");
                button.addClass(classButton);
            }

            filaFocus.addClass('div-disable');

            filaFocus.find('input.foco').removeClass("foco"); // buscar en el div no en la filafocus
            inputFocus = null;

            setTimeout(function () {
                modalResult(true, $("#Intentos").val());
            }, 900);
        }
        else {
            filaFocus.find('input').eq(posicion).addClass(classInput);
            addAnimation(filaFocus.find('input').parent());

            let button = $(".divKeyboard").find("button:contains('" + letra + "')").first();
         
            if (!button.hasClass("button-success")) {
                button.removeClass("button-medium");
                button.addClass(classButton);
            }

            if (result == false) {
                filaFocus.find('input.foco').removeClass("foco"); // buscar en el div no en la filafocus
                
                setTimeout(function () {
                    modalResult(false, $("#Intentos").val());
                }, 900);
            }

        }
    }

    function addAnimation(divParent) {
        divParent.addClass("animated-flip");
        divParent.toggleClass('rotated');
    }

    function modalResult(result, intento) {

        $.ajax({
            url: '@Url.Action("Result", "Wordle")',
            method: 'GET',
            data: { result: result, intento: intento },
            success: function (data) {

                if (!$(".show").length > 0) { 
                    let divModal = $("#resultModal");
                    divModal.attr('role', 'dialog');
                    divModal.addClass('modal fade');

                    divModal.append(data);

                    $('#resultModal').one('show.bs.modal', function () {
                        if(result)
                            showConfetis();
                    });

                    document.getElementById('resultModal').addEventListener('hidden.bs.modal', function () {
                        $(".modal-dialog").remove();
                    });

                    divModal.modal('show');
                }

            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error('Error al realizar la solicitud AJAX:', errorThrown);
            }
        });

    }

</script>

<div id="resultModal"></div>

<div class="divKeyboard">

@*     @if (Model.Tildes)
    {
        <div class="fila">
            <div>
                <button type="button" class="form-control form-control-lg tildes">Á</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">É</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">Í</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">Ó</button>
            </div>
            <div>
                <button type="button" class="form-control form-control-lg tildes">Ú</button>
            </div>
        </div>
    } *@

    <div class="fila">
        <div>
            <button type="button" class="form-control form-control-lg letras">Q</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">W</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">E</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">R</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">T</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Y</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">U</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">I</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">O</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">P</button>
        </div>
    </div>

    <div class="fila">
        <div>
            <button type="button" class="form-control form-control-lg letras">A</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">S</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">D</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">F</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">G</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">H</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Y</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">J</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">K</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">L</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Ñ</button>
        </div>
    </div>

    <div class="fila" style="margin-top: 1px;">
        <div>
            <button type="button" title="Intro" onclick="enter()" class="form-control form-control-lg letras enter">
                <span class="d-none d-sm-inline">Enviar</span>
                <span class="d-inline d-sm-none"><i class="fa-solid fa-circle-check"></i></span>
            </button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">Z</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">X</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">C</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">V</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">B</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">N</button>
        </div>
        <div>
            <button type="button" class="form-control form-control-lg letras">M</button>
        </div>
        <div>
            <button type="button" title="Delete" class="form-control form-control-lg letras delete"><i class="fa-solid fa-delete-left fa-lg"></i></button>
        </div>
    </div>

</div>
