<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>EspecificWordle</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EspecificWordle.styles.css" asp-append-version="true" />

    <script src="https://kit.fontawesome.com/d3102597a3.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

    <header>

        @await Html.PartialAsync("Sidebar")

        <nav id="navBar" class="navbar navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">

            <div title="Menú" class="divNavBar-padding">
                <a class="menu" data-bs-toggle="offcanvas" data-bs-target="#sidebar" class="text-dark" asp-area="" asp-controller="" asp-action=""> <i class="fa fa-align-justify fa-lg"></i></a>
            </div>

            <div class="order-title">
                <a class="titulo">EspecificWordle</a>
            </div>

            <div title="Modo oscuro" class="divNavBar-padding">
                <a class="text-dark mode" href="#"><i class="fa fa-adjust fa-lg"></i></a>
            </div>

        </nav>

    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-conteiner">
        <div>
            EN DESARROLLO
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
