
<nav id="navBar" class="navbar navbar-toggleable-sm navbar-light box-shadow">

    <div title="Menú" class="div-navbar-padding">
        <a class="menu" data-bs-toggle="offcanvas" data-bs-target="#sidebar" asp-area="" asp-controller="" asp-action=""> <i class="fa fa-align-justify fa-xl"></i></a>
    </div>

    <div class="order-title" style="">
        <h1 class="text-dark titulo">Adiviná la palabra</h1>
        <h2 style="margin:0;text-align:center;font-size:.8rem;letter-spacing:.2rem;font-weight:600;font-family:monospace;" class="text-muted modo">ALEATORIA</h2>
    </div>

    <div title="Modo oscuro" class="div-navbar-padding">
        <a class="text-dark mode" href="#" onclick="changeMode();"><i class="fa fa-adjust fa-xl"></i></a>
    </div>

</nav>
