
<nav id="navBar" class="navbar navbar-toggleable-sm navbar-light justify-content-center pb-0 pt-0 w-100 shadow-sm">

    <div class="d-flex p-1" style="max-width: 600px; width: 100%;">

        <div title="Menú" class="d-flex align-items-center p-3">
            <a class="menu" data-bs-toggle="offcanvas" data-bs-target="#sidebar" role="button">
                <i class="fa-solid fa-ellipsis-vertical fa-lg fa-custom"></i>
            </a>
        </div>

        <div class="d-flex flex-column flex-grow-1 justify-content-center align-items-center text-center p-2">
            <h1 class="titulo text-dark fw-bold">Adiviná la palabra</h1>
            <h2 class="modo text-muted mb-0">@Model.ModoDescripcion.ToUpper()</h2>
        </div>

        <div title="¿Cómo jugar?" class="d-flex align-items-center p-3">
            <a class="nav-info" role="button" onclick="showInstrucciones()">
                <i class="fa-regular fa-circle-question fa-lg fa-custom"></i>
            </a>
        </div>

    </div>

</nav>
