
<nav id="navBar" class="navbar navbar-toggleable-sm navbar-light box-shadow">

    <div title="Menú" class="div-navbar-padding">
        <a class="menu" data-bs-toggle="offcanvas" data-bs-target="#sidebar" asp-area="" asp-controller="" asp-action=""> <i class="fa fa-align-justify fa-xl"></i></a>
    </div>

    <div class="order-title">
        <a class="text-dark titulo">EspecificWordle</a>
    </div>

    <div title="Modo oscuro" class="div-navbar-padding">
        <a class="text-dark mode" href="#" onclick="changeMode();"><i class="fa fa-adjust fa-xl"></i></a>
    </div>

</nav>
