@* Sidebar *@

<div id="sidebar" class="offcanvas offcanvas-start" style="width:auto;">
    <div class="offcanvas-body" style="padding:0; display: flex; flex-direction: column;">

        <a href="javascript:void(0);" onclick="redirectByMode('Aleatoria')">Aleatoria</a>
        <a href="javascript:void(0);" onclick="redirectByMode('Científica')">Científica</a>
        <a href="#">Tildes</a>
        <a href="#">Animales</a>
        <a href="#">Inglés</a>

        <div class="div-separator">
            <hr />
            <a href="javascript:void(0);" onclick="showInstrucciones()">Como jugar</a>
            <a href="javascript:void(0);" onclick="sendEmail()">Contacto</a>
        </div>

    </div>
</div>
