@* Sidebar *@

<div id="sidebar" class="offcanvas offcanvas-start" style="width:auto;">
    <div class="offcanvas-body" style="padding:0; display: flex; flex-direction: column;">

        <a href="#">Tres letras</a>
        <a href="#">Cuatro letras</a>
        <a href="#">Cinco letras</a>
        <a href="#">Seis letras</a>
        <a href="#">Siete letras</a>

        <div class="div-separator">
            <hr />
            <a href="#">Como jugar</a>
            <a href="#">Contacto</a>
        </div>

    </div>
</div>
