@* Sidebar *@

<div id="sidebar" class="offcanvas offcanvas-start shadow" style="width:auto;">
    <div class="offcanvas-body" style="padding:0; display: flex; flex-direction: column;">

        <a role="button" onclick="redirectByMode('Aleatoria')">Aleatoria</a>
        <a role="button" onclick="redirectByMode('Ciencia')">Ciencia</a>
        <a role="button" onclick="redirectByMode('Naturaleza')">Naturaleza</a>
        
        <div class="d-flex flex-column mt-auto">
            <hr />
            <a role="button" onclick="showInstrucciones()">Cómo jugar</a>
            <a role="button" onclick="showContacto()">Contacto</a>
        </div>

    </div>
</div>
