@* Sidebar *@

<div id="sidebar" class="offcanvas offcanvas-start" style="width:auto;">
    <div class="offcanvas-body" style="padding:0; display: flex; flex-direction: column;">

        <a role="button" onclick="redirectByMode('Aleatoria')">Aleatoria</a>
        <a role="button" onclick="redirectByMode('Ciencia')">Ciencia</a>
        <a role="button" onclick="redirectByMode('Naturaleza')">Naturaleza</a>
        
        @*  
            <a role="button">Tildes</a>
            <a role="button">Inglés</a> 
        *@

        <div class="div-separator">
            <hr />
            <a role="button" onclick="showInstrucciones()">Como jugar</a>
            <a role="button" onclick="sendEmail()">Contacto</a>
        </div>

    </div>
</div>
